<!DOCTYPE html>
<html lang="en">
<div id="dark_theme">
    <div>
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
    </div>
</div>
<head>
    <meta charset="UTF-8">
    <title>Final Project</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/text.css">
</head>
<body>
    <header id="nav">
        <a  class="links" href="/feed">Review</a>
        <a  class="links" href="/threads">Threads</a>
        <a  class="links" href="/logout">Logout</a>
        <a  class="links" href="/myprofile">My Profile</a>
        <a class="links" href="/editprofile">Edit profile</a>
        <a  class="links" href="/myfriends">My Friends</a>
        <a class="links" href="/friendrequests">Friend Requests</a>
        <a class="links" href="/blockedusers">Blocked Users</a>
        <a class="links" href="/savedreviews">Saved Reviews</a>
        <a class="links" href="/popular">Popular Page</a>
    </header>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

    <script src="/public/js/dark.js"></script>
</body>
<footer></footer>

</html>