<head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<div>
    <h1>
        Welcome
    </h1>
    
    <div>
        <a href="/exp">Go to communicate page</a>
    </div>
    <div>
        <a href="/review">Go to review page</a>
    </div>
    <div>
        <a href="/pop">See popular threads</a>
    </div>
    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <a href="/signup">Sign-Up</a>
    </div>
</div>
</body>