<head>
    <meta charset="utf-8">
    <title>logout</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <h1>logout</h1>
    <p>Success</p>
    <a href="/">Home Page</a>
</body>