<head>
    <meta charset="utf-8">
    <title>Review</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header><h1>Review</h1></header>
    <ul id="reviewList"></ul>
    <div id="review" hidden></div>
    <a href="/review" id="homeLink" hidden>Back to all reviews</a>

    <form id="reviewComment" hidden>
    <div class="form-group">
        <input id="reviewComment_id" value="{{postId}}" hidden></input>
        <label for="rating">Rating(1-5):</label>
        <select class="form-control" id="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label id="formLabel" for="reviewComment_input">Comment</label>
        <textarea class="form-control" id="reviewComment_input" rows="3" value="{{revComment}}"></textarea>
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
    </form>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src='../public/js/reviewAjax.js'></script>
    
</body>