<div>
    <h1>
        This is going to be the feed
    </h1>
    <div class="newPost">
        <form action="" class="newPost" id="newPostForm">
            <div id="titleDiv">
                <label for="title">Title</label>
                <input type="text" id="title" name="title">
            </div>
            <div id="catDiv">
                <label for="cat">Category</label>
                <input type="text" id="cat" name="cat">
            </div>
            <div id="ratingDiv">
                <label for="rating">Rating</label>
                <input type="text" id="rating" name="rating">
            </div>
            <div>
                <label for="review">Review</label>
                <textarea name="review" id="review" cols="50" rows="10"></textarea>
            </div>
            <button id="btn">Post</button>
        </form>
    </div>
    <div id="feed">

    </div>
</div>