<div>
    <h1>
        Login
    </h1>
    <form action="/login" id="login-form" method="POST">
        <div class="email">
            <label for="email">Enter Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Email">
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <button type="submit" id="btn">Log In</button>
    </form>
    <div class="error">
        <label id="errorLabel" class="errorLabel">{{msg}}</label>
    </div>
    <a href="/signup">Not a user? Click here to sign-up</a>
</div>