<div id="popular">
    <div id='popularRev'>
        <h2>Popular Reviews:</h2>
        <ul id="reviewList"></ul>
    </div>

    <div id='popularThr'>
        <h2>Popular Threads:</h2>
        <ul id="threadList"></ul>
    </div>

    {{#if error}}
    <div class="error" id="newPopularError">
        <div id="errorLabel">{{error}}</div>
    </div>
    {{/if}}
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/popular.js"></script>
</div>