<div>
    <h1 id="threadTitle"></h1>
    <h2 id="threadText"></h2>
    <h3 id="postedOn"></h3>
    <div>
        <h2 id="voting"></h2>
    </div>
    <div class="like/dislike" id="like/dislike">
        <button class="btn" id="likeButton">Like</button>
        <button class="btn" id="dislikeButton">Dislike</button>
    </div>
    
    <br>

    <div class="commentInput" id="commentInput">
        <form class="postComment" id="postComment">
            <textarea name="text" id="text" cols="50" rows="2"></textarea>
            <button class="btn" id="commmentButton" type="submit">Post Comment</button>
        </form>
    </div>

    <div id="commentsDiv">

    </div>

    <br>
    <a href="/threads">Return</a>
    <p class="threadId" id="threadId" hidden>{{_id}}</p>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/threadComments.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/vote.js"></script>
</div>
